/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; 
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(0, 150, 178, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px dashed white;
}

   
#logo {
    margin-bottom: 16px;
	border: 3px dashed red;
	text-align: center;
}

h1 {
	font-family: 'Castoro', serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 { font-family: 'Castoro', serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p { font-family: 'Castoro', serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
nav{
	font-family: CHOOSE YOUR FONT FAMILY;
	font-size: 1.2em;
	width: 400px;
	margin: 0 auto;   
	border: dashed turquoise;
border-width: 3px 0; 
text-align: center;
margin-top: 2em; }

nav li{
	display: inline;}


nav a{
		display: inline-block;
		padding: 10px; }

		a{
			color: #444;
			text-decoration: none; 
			font-weight: bold;
			}
			a:hover{
			color: black;
			background: white; }


